<header class="header secondary">
  <div class="container md:container">
    <div class="left"><a class="logo" href="/">Pizzaria</a></div>
    <div class="right">
      <nav>
        <a class="link" href="#about">Sobre Nós</a>
        <a class="link" href="#pizzas">Pizzas</a>
        <a class="link" href="#drinks">Bebidas</a>
        <a class="link" href="#faq">Perguntas</a>
        <a class="link" href="#contacts">Contatos</a>
      </nav>
      <button class="menu-button" @click="openModal('menu')">Open menu</button>
    </div>
  </div>
</header>