<section class="section" id="products">
  <div class="container md:container">
    <h2
      class="title-line text-2xl sm:text-3xl text-color-primary text-align-center text-mb-2 sm:text-mb-4"
    >
      Product
    </h2>
    <div class="g-root g-no-hidden g-gap-4">
      <div class="g-row">
        <div class="g-item-12 sm:g-item-6 md:g-item-4">
          <article class="card secondary">
            <a href="/">
              <figure class="aspect-ratio aspect-1-1 fit">
                <img
                  src="../../img/chad-montano-MqT0asuoIcU-unsplash.jpg"
                  alt="Card Image"
                />
              </figure>
            </a>
            <div class="description">
              <h3 class="text-xl text-color-primary">Card Title</h3>
              <p class="price text-lg">R$ 15,50</p>
              <a class="gn-button pm-button small full" href="/"> Buy now </a>
            </div>
          </article>
        </div>
        <div class="g-item-12 sm:g-item-6 md:g-item-4">
          <article class="card secondary">
            <a href="/">
              <figure class="aspect-ratio aspect-1-1 fit">
                <img
                  src="../../img/chad-montano-MqT0asuoIcU-unsplash.jpg"
                  alt="Card Image"
                />
              </figure>
            </a>
            <div class="description">
              <h3 class="text-xl text-color-primary">Card Title</h3>
              <p class="price text-lg">R$ 15,50</p>
              <a class="gn-button pm-button small full" href="/"> Buy now </a>
            </div>
          </article>
        </div>
        <div class="g-item-12 sm:g-item-6 md:g-item-4">
          <article class="card secondary">
            <a href="/">
              <figure class="aspect-ratio aspect-1-1 fit">
                <img
                  src="../../img/chad-montano-MqT0asuoIcU-unsplash.jpg"
                  alt="Card Image"
                />
              </figure>
            </a>
            <div class="description">
              <h3 class="text-xl text-color-primary">Card Title</h3>
              <p class="price text-lg">R$ 15,50</p>
              <a class="gn-button pm-button small full" href="/"> Buy now </a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
