{% for category in products %}
<section class="section" id="{{category.code}}">
  <div class="container md:container">
    <h2 class="title-line text-2xl sm:text-3xl text-color-primary text-align-center text-mb-2 sm:text-mb-4">
      {{category.title}}
    </h2>
    <div class="g-root g-no-hidden g-gap-4">
      <div class="g-row">
        {% for card in category.items %}
        <div class="g-item-12 sm:g-item-6 md:g-item-4">
          <article class="card secondary">
            <p class="cart-count" :class="{active: cart.getCount('{{card.id}}')}" v-text="cart.getCount('{{card.id}}')">
            </p>
            <a href="/product?id={{card.id}}">
              <figure class="aspect-ratio aspect-1-1 fit">
                <img src="{{card.img}}" alt="Card Image" />
              </figure>
            </a>
            <div class="description">
              <h3 class="text-xl text-color-primary">{{card.name}}</h3>
              <p class="price text-lg">{{card.fprice}}</p>
              <button class="gn-button pm-button small full" @click="cart.addItem(
                  '{{card.id}}',
                  '{{card.name}}',
                  '{{card.price}}',
                  '{{card.img}}',
                )">Adicionar ao carrinho</button>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endfor %}