<section class="about primary section" id="about1">
  <div class="container md:container">
    <div class="g-root g-gap-8">
      <div class="g-row">
        <div class="g-item-12 md:g-item-6">
          <div>
            <img
              src="../../img/chad-montano-MqT0asuoIcU-unsplash.jpg"
              alt="Place Holder"
            />
          </div>
        </div>
        <div class="g-item-12 md:g-item-6">
          <div>
            <h2 class="text-2xl sm:text-3xl text-mb-4 text-color-primary">
              Lorem ipsum dolor sit amet consectetur.
            </h2>
            <p class="text-base sm:text-xl text-mb-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio,
              minus.
            </p>
            <ul class="list secondary">
              <li class="text-sm sm:text-base">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas reiciendis qui, aperiam corporis.
              </li>
              <li class="text-sm sm:text-base">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas reiciendis qui, aperiam corporis.
              </li>
              <li class="text-sm sm:text-base">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas reiciendis qui, aperiam corporis.
              </li>
              <li class="text-sm sm:text-base">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas reiciendis qui, aperiam corporis.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
