<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}Default title{% endblock %} | Pizzaria Nobreza
  </title>
  <link rel="stylesheet" href="../css/pages/{% block css %}{% endblock %}.css" />
  <script defer src="../js/pages/{% block js %}{% endblock %}.js"></script>
</head>

<body>
  <div id="app">
    {% block content %}{% endblock %}
  </div>
</body>

</html>